[Desktop Entry]
Categories=Photography;Graphics;GTK;GNOME;
Name=Photo Shell
Name[be]=Photo Shell
Name[be@latin]=Photo Shell
Name[bg]=Photo Shell
Name[br]=Photo Shell
Name[cs]=Photo Shell
Name[da]=Photo Shell
Name[de]=Photo Shell
Name[el]=Photo Shell
Name[en_GB]=Photo Shell
Name[eo]=Photo Shell
Name[es]=Photo Shell
Name[eu]=Photo Shell
Name[fr]=Photo Shell
Name[gl]=Photo Shell
Name[he]=‫Photo Shell
Name[hr]=Photo Shell
Name[hu]=Photo Shell
Name[it]=Photo Shell
Name[ja]=Photo Shell
Name[kk]=Photo Shell
Name[lt]=Photo Shell
Name[nb]=Photo Shell
Name[nl]=Photo Shell
Name[no]=Photo Shell
Name[pl]=Photo Shell
Name[pt]=Photo Shell
Name[pt_BR]=Photo Shell
Name[ru]=Photo Shell
Name[sk]=Photo Shell
Name[sr@Latn]=Photo Shell
Name[sv]=Photo Shell
Name[tr]=Photo Shell
Name[uk]=Photo Shell
Name[zh_CN]=Photo Shell
Name[zh_TW]=Photo Shell
GenericName=Raw Photo Processor
Keywords=photos;editing;graphics;photography;darkroom
Version=1.0
Exec=photoshell
Icon=photoshell
StartupNotify=true
StartupWMClass=PhotoShell
Terminal=false
Type=Application
